<ul>
<% @events.each do |event| %>
<li> <%= event.name %> </li>
<li> <%= event.location %> </li>
<li> <%= price(event) %></li>
<p> <%= truncate(event.description, length: 35, separator:'') %></p>
<p><%= day_and_time(event) %></p>
<% end %>
</ul>