<section class="events">
<% @events.each do |event| %>
<div class="image">
<%= main_image(event) %>
</div>
<li > <%= link_to event.name, event_path(event) %> </li>
<li> <%= event.location %> </li>
<li> <%= price(event) %></li>
<p> <%= truncate(event.description, length: 35, separator:'') %></p>
<p class="event"><%= day_and_time(event) %></p>
<% end %>
</section>
<% if current_user_admin?%>
<section>
<%= link_to  "New Event", new_event_path %>
</section>
<% end %>