<section>
<div class="image">
   <%= image_tag @event.image_file_name %>
   <% if current_user %>
   <div class="likes">
    <%= like_or_unlike(@event, @like) %>
   </div>
   <div class="count">
   <%= @likers.size %>
   </div>
   <%end%>
</div>
<h1> <%= @event.name %> </h1>
<h2> <%= @event.location %> </h2>
<h2> 
<%= pluralize(@event.capacity, "spot")%> &bull;
<%= price(@event) %></h2>
<p> <%= truncate(@event.description, length: 35, separator:'') %></p>
<p><%= day_and_time(@event) %></p>

<div>
<%= register_or_sold_out(@event) %>
<%= link_to  "registrations list", event_regestrations_path(@event) %>

</div>
<aside>
<% if @likers.present?%>
<h4>Liked by</h4>
<ul>
<% @likers.each do |user| %>
<li><%= link_to  user.name, user %></li>
<% end %>

</ul>
<% end %>
</aside>
</section>
<% if current_user_admin? %>
<section>
 <%= link_to  "Edit", edit_event_path(@event), class: 'button' %>
 <%= link_to  "Delete", @event, method: :delete, data: { confirm: 'Are you sure?' } %>
</section>
<%end%>

