 <header>
   
   <nav>
   <h1>  <%= link_to "Eventz", root_path %> </h1>
   <ul>
   <li>
   <%= link_to "upComing", events_path %>
   </li>
    <li>
   <%= link_to "Past", filtred_events_path(:past) %>
   </li>
    <li>
   <%= link_to "Free", filtred_events_path(:free) %>
   </li>
     <li>
   <%= link_to "Recent", filtred_events_path(:recent) %>
   </li>
   </ul>
    <ul>
  <% if current_user %>
   <li>
      <%= link_to  current_user.name, current_user %>
   </li>
    <li>
      <%= link_to "SIGN OUT", session_path, method: :delete %>
   </li>
    <% else %>
      
   <li>
     <%= link_to "SIGN IN", new_session_path %>
   </li>
   <li>
     <%= link_to "SIGN UP", signup_path %>
   </li>
  <% end %>


   </ul>
   </nav>
  </header>